@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Oswald:wght@700&display=swap');

body {
  margin: 0 auto;
}
.header {
  background: rgba(233, 115, 115, 0);
  height: 80px;
  margin-top: -80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
}
.mainWrapper {
}
.mainWave {
  width: 100%;
}
.mainContent {
  background: linear-gradient(270deg, #385ae4, #95d6ff);

  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 40vh;
  justify-content: flex-end;
}
.headerWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
}
.btnHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}
.textLogo {
  font-family: Oswald;
  font-size: 40px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  text-decoration: none !important;
}
.singInWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sinIn {
  border-radius: 50px;
  background: #ff713c;
  white-space: space nowrap;
  padding: 10px 22px;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.menuLink {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-family: 'Encode Sans Expaned', sans-serif;
}
.menuLinkWrapper {
  height: 80px;
}
.mainContentTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 49px;
  text-align: center;

  color: #ffffff;
}
.mainContentTitleThin {
  font-weight: 500;
}
.test {
  width: 100%;
  margin: 0 auto;
}
.searchBtn {
  width: 100% !important;
  font-family: Century Gothic;
  width: 175px;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  color: #ffffff !important;
  background: #ff713c !important;
  border-radius: 20px !important;
  border: none !important;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.016);
  border-radius: 20px;
}
.wrapperSearch {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #f6f6f6;
  box-shadow: none;
  border-radius: 16.4545px !important;
}
.textWhite {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-align: center;

  color: #ff8355;
}
a:hover {
  color: #ff713c !important;
}
.mainContentLoaded {
  animation-duration: 5s;
  animation-name: slidein;
  height: 20vh;
}
@keyframes slidein {
  0% {
    height: 40vh;
  }

  50% {
    height: 80vh;
  }
  100% {
    height: 20vh;
  }
}

@media only screen and (max-width: 960px) {
  .mainContent {
    height: 60vh;
  }
  .mainContentLoaded {
    animation-duration: 5s;
    animation-name: slideinMini;
    /* height: 30vh; */
  }
  @keyframes slideinMini {
    0% {
      height: 60vh;
    }

    50% {
      height: 80vh;
    }
    100% {
      height: 30vh;
    }
  }
}
.mainContentTitleLoaded {
  opacity: 0;
  transition: 3s linear;
}

.path-0 {
  animation: pathAnim-0 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      'M 0,400 C 0,400 0,133 0,133 C 171.2,131.66666666666666 342.4,130.33333333333331 502,130 C 661.6,129.66666666666669 809.5999999999999,130.33333333333334 964,131 C 1118.4,131.66666666666666 1279.2,132.33333333333331 1440,133 C 1440,133 1440,400 1440,400 Z'
    );
  }
  25% {
    d: path(
      'M 0,400 C 0,400 0,133 0,133 C 171.7333333333333,140.06666666666666 343.4666666666666,147.13333333333335 522,142 C 700.5333333333334,136.86666666666665 885.8666666666666,119.53333333333333 1040,116 C 1194.1333333333334,112.46666666666667 1317.0666666666666,122.73333333333333 1440,133 C 1440,133 1440,400 1440,400 Z'
    );
  }
  50% {
    d: path(
      'M 0,400 C 0,400 0,133 0,133 C 154,129.8 308,126.6 481,138 C 654,149.4 846,175.4 1009,177 C 1172,178.6 1306,155.8 1440,133 C 1440,133 1440,400 1440,400 Z'
    );
  }
  75% {
    d: path(
      'M 0,400 C 0,400 0,133 0,133 C 130.53333333333336,162.86666666666667 261.0666666666667,192.73333333333332 434,177 C 606.9333333333333,161.26666666666668 822.2666666666667,99.93333333333334 997,85 C 1171.7333333333333,70.06666666666666 1305.8666666666668,101.53333333333333 1440,133 C 1440,133 1440,400 1440,400 Z'
    );
  }
  100% {
    d: path(
      'M 0,400 C 0,400 0,133 0,133 C 171.2,131.66666666666666 342.4,130.33333333333331 502,130 C 661.6,129.66666666666669 809.5999999999999,130.33333333333334 964,131 C 1118.4,131.66666666666666 1279.2,132.33333333333331 1440,133 C 1440,133 1440,400 1440,400 Z'
    );
  }
}
.path-1 {
  animation: pathAnim-1 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      'M 0,400 C 0,400 0,266 0,266 C 207.46666666666664,259.73333333333335 414.9333333333333,253.46666666666664 558,261 C 701.0666666666667,268.53333333333336 779.7333333333333,289.8666666666667 916,293 C 1052.2666666666667,296.1333333333333 1246.1333333333332,281.06666666666666 1440,266 C 1440,266 1440,400 1440,400 Z'
    );
  }
  25% {
    d: path(
      'M 0,400 C 0,400 0,266 0,266 C 169.46666666666664,271.8666666666667 338.9333333333333,277.73333333333335 516,265 C 693.0666666666667,252.26666666666668 877.7333333333333,220.93333333333337 1033,218 C 1188.2666666666667,215.06666666666663 1314.1333333333332,240.5333333333333 1440,266 C 1440,266 1440,400 1440,400 Z'
    );
  }
  50% {
    d: path(
      'M 0,400 C 0,400 0,266 0,266 C 186.66666666666669,280.93333333333334 373.33333333333337,295.8666666666667 509,286 C 644.6666666666666,276.1333333333333 729.3333333333333,241.4666666666667 876,234 C 1022.6666666666667,226.5333333333333 1231.3333333333335,246.26666666666665 1440,266 C 1440,266 1440,400 1440,400 Z'
    );
  }
  75% {
    d: path(
      'M 0,400 C 0,400 0,266 0,266 C 182.2666666666667,251.86666666666667 364.5333333333334,237.73333333333335 534,230 C 703.4666666666666,222.26666666666665 860.1333333333334,220.9333333333333 1009,228 C 1157.8666666666666,235.0666666666667 1298.9333333333334,250.53333333333336 1440,266 C 1440,266 1440,400 1440,400 Z'
    );
  }
  100% {
    d: path(
      'M 0,400 C 0,400 0,266 0,266 C 207.46666666666664,259.73333333333335 414.9333333333333,253.46666666666664 558,261 C 701.0666666666667,268.53333333333336 779.7333333333333,289.8666666666667 916,293 C 1052.2666666666667,296.1333333333333 1246.1333333333332,281.06666666666666 1440,266 C 1440,266 1440,400 1440,400 Z'
    );
  }
}
