@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Oswald:wght@700&display=swap');

body {
  margin: 0 auto;
}
.header {
  background: rgba(233, 115, 115, 0);
  height: 80px;
  margin-top: -80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
}
.mainWrapper {
}
.mainWave {
  width: 100%;
}
.mainContent {
  background: linear-gradient(270deg, #002bdcff, #95d6ff);

  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 30vh;
  justify-content: flex-end;
}
.headerWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
}
.btnHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}
.textLogo {
  font-family: Oswald;
  font-size: 40px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  text-decoration: none !important;
}
.singInWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sinIn {
  border-radius: 50px;
  background: #ff713c;
  white-space: space nowrap;
  padding: 10px 22px;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.menuLink {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-family: 'Encode Sans Expaned', sans-serif;
}
.menuLinkWrapper {
  height: 80px;
}
.mainContentTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 49px;
  text-align: center;

  color: #ffffff;
}
.mainContentTitleThin {
  font-weight: 500;
}
.test {
  width: 100%;
  margin: 0 auto;
}
.searchBtn {
  font-family: Century Gothic;
  width: 175px;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  color: #ffffff !important;
  background: #ff713c !important;
  border-radius: 20px !important;
  border: none !important;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.016);
  border-radius: 20px;
}
.wrapperSearch {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #f6f6f6;
  box-shadow: none;
  border-radius: 16.4545px !important;
}
.textWhite {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-align: center;

  color: #ff8355;
}
